/**
 * DGPTM Vimeo Webinare - Admin Styles
 * Version: 1.3.0
 */

.vw-admin-notice {
    padding: 15px;
    margin: 15px 0;
    border-left: 4px solid #007cba;
    background: #f0f6fc;
}

.vw-admin-notice.success {
    border-left-color: #00a32a;
    background: #f0f6e8;
}

.vw-admin-notice.error {
    border-left-color: #d63638;
    background: #fcf0f1;
}
